body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    overflow: ;
}

.header {
    text-align: center;
    padding: 50px 0;
    background-image: url("https://picsum.photos/id/10/1920/1080");
    background-size: cover;
    background-position: center;
}

.header h1 {
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #333;
    font-size: 60px;
    margin-bottom: 50px;
}

.header p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 70px;
}

.header .btn {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 24px;
    border: none;
    margin-top: 50px;
}

.header .btn:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.25rem);
}

.navbar a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}